In [58]:
import pandas as pd
import numpy as np

In [2]:
import datetime as dt

In [7]:
timeStamp=pd.Timestamp('2023-03-01')

In [26]:
period=pd.Period(timeStamp,freq='M')

In [32]:
period.asfreq('d')

Period('2023-03-31', 'D')

In [34]:
period+2

Period('2023-05', 'M')

In [61]:
index=pd.date_range(start='2020-1-1',periods=12,freq='ME')

In [65]:
data=np.random.random((12,1))
df=pd.DataFrame(data=data,index=index)

In [67]:
df

                   0
2020-01-31  0.701872
2020-02-29  0.969180
2020-03-31  0.646935
2020-04-30  0.174971
2020-05-31  0.778242
2020-06-30  0.141593
2020-07-31  0.055195
2020-08-31  0.133489
2020-09-30  0.478484
2020-10-31  0.441105
2020-11-30  0.742981
2020-12-31  0.237517

In [5]:
import yfinance as yf

In [9]:
stockprice=yf.download('GOOG',period='2y')

[*********************100%%**********************]  1 of 1 completed

In [15]:
stockprice_shifted=stockprice.Close.shift()